@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;    
}
.nav{
    display: flex;
    position: relative;
    left: 100px;
    top: 50px;   
}
#img{
    height: 25px;
    position: fixed;
    right: 350px;
    top: 55px;
    z-index: 2;
    background-color: #ffffff;
    z-index: 6;
}
#search{
    position: fixed;
    right: 230px;
    border:1px solid rgba(167, 158, 245, 0.1);
    border-radius: 10% 10% 10% 10% / 50% 50% 50% 50%;
	box-shadow: 2px 2px 30px rgba(167, 158, 245, 0.2);
    outline: none;
    height: 35px;
    width: 150px;
    border-radius: 10px;
    box-sizing: border-box;
    padding-left: 40px;
    z-index: 5;
}
input::placeholder{
    color: black;
    font-family: poppins;
    font-size: 0.8rem;
    color: #1D1D1D;
	font-weight:400;
	letter-spacing: 2px;
}
.content img{
    width: 500px;
    position: relative;
    top: 120px;
    left: 100px;
    background-color: #eceeea;
}
.content #p1{
    position: relative;
    left: 50%;
    top: -180px;
    font-size: 100px;
    letter-spacing: 15px;
    font-family:Roboto;
    font-weight: bolder;
    color: rgb(53, 52, 52);
}
.content #p2{
    position: relative;
    left: 50%;
    top: -180px;
    font-size: 100px;
    letter-spacing: 15px;
    font-family:Roboto;
    font-weight: bolder;
    color: rgb(53, 52, 52);
}
.content button{
    position: relative;
    top: -170px;
    left: 680px;
    height: 35px;
    width: 100px;
    border: none;
    border-radius: 30px;
    background-color: blue;
    color: white;
}
.content button:hover{
    background-color: rgb(6, 253, 59);
    color: blue;
    transition: 0.5s;
}
span {
    color:	#7A72FF;
    }
/* social links */
.sociallink{   
    width: 40px; 
    height: 170px;
    position: fixed;
    left: 52px;
    z-index: 3;
    top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(230, 228, 228);
    border:1px solid rgba(138, 126, 243, 0.1);
    border-radius: 20px;
	box-shadow: 2px 2px 30px rgba(167, 158, 245, 0.2);
}
.sociallink img{
    height: 30px;
    width: 30px;
    margin-top: 10px;
}
.sociallink img:hover{
    cursor: pointer;
    background-color: rosybrown;
    border-radius: 10px;   
}
.body h1{
    position: relative;
    top: -90px;
    left: 500px;
    letter-spacing: 5px;
}
.item{
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: auto;
    
}
.item img{
    width: 250px;
    padding-left: 50px;
    position: relative;
    top: 50px;
    right: 25px;
}
.item1{    
    height: 300px;
    width: 300px;
    box-sizing: border-box;
}
.item2{    
    height: 300px;
    width: 300px;
    box-sizing: border-box;
}
.item3{    
    height: 300px;
    width: 300px;
    box-sizing: border-box;
}
.item1:hover{
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
	background-color:#FFFFFF;
}
.item2:hover{
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
	background-color:#FFFFFF;
}
.item3:hover{
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
	background-color:#FFFFFF;
}
.item1 button, .item2 button, .item3 button{
    position: relative;
    top: 70px;
    left: 80px;
    width:140px;
	height: 40px;
    border-radius: 15% 15% 15% 15% / 50% 50% 50% 50%;
    background:linear-gradient(120deg,#6b60ec 20%,#a166f4);
    color:#FFFFFF;
	display: none;
    cursor: pointer;
	animation: fade 0.2s;    
}

.item1:hover .button1, .item2:hover .button2, .item3:hover .button3{
    display: inline;
}
.item p{
    position: relative;
    left: 160px;
    top: -170px;
    background-color: #e0e0e0;
    width: 120px;
    text-align: center;
    height: 30px;
    padding-top: 15px;
    border-radius: 30px;
}
.section3{
    display: flex;
    align-items: center;    
    width: 80%;
    margin: 150px auto;
    font-family: 'Roboto', sans-serif;
}
.section3 img{
    width: 500px;
}
.writing .heading{
font-weight: bolder;
font-size: 3rem;
letter-spacing: 5px;
color: rgb(77, 75, 75);
}
.writing .smallheading{
    font-weight: bold;
    font-size: 1.5rem;
    color: rgb(46, 46, 46);
}
.writing .text{
    margin-top: 10px;
    text-align: justify;
}
/* Section 4 */
.section4{
    background-color: rgb(241, 241, 241);
    width: 80%;
    margin: auto;
    padding: 80px;
    border-radius: 20px;
}
.section4 p{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 2rem;
}
.grid-container{
    margin-top: 80px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 100px 80px;
}
.grid-container img{
    width: 250px;
    height: 250px;    
}
.grid-container .tag{
    font-weight: normal;
    font-size: medium;
    color: rgb(119, 119, 119);    
}
.grid-container .price{
    font-weight: normal;
    font-size: large;
}
.grid-container .button{
    position: relative;
    left: 32%;
    top: 20px;
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 30px;
    background-color: rgb(0, 4, 255);
    color: white;
    cursor: pointer;
    display: none;
}
.grid-container button:hover{
    background-color: rgb(101, 101, 185);
    color: rgb(201, 196, 196);
}
.grid-item{    
    padding: 25px;
    height: 350px;
    
}
.grid-item:hover{
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
	background-color:#FFFFFF;
    border-radius: 20px;
}
.grid-item:hover .button{
    display: inline;
}
/* footer */
.section5{
    height: 200px;
    width: 70%;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 239, 239);
}
.section5 p{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 1.5rem;
}
.section5 input{
    width: 500px;
    height: 35px;
    margin-top: 15px;
    border: none;
    padding-left: 50px;
    border-radius: 30px;
}
.section5 input::placeholder{
    color: rgb(61, 61, 61);
    font-family: 'Roboto',sans-serif;
    font-weight: bolder;       
}
.section5 button{
    width: 50px;
    height: 30px;
    border: none;
    border-radius: 30px;
    background-color: blue;
    color: white;
    position: relative;
    top: -32px;    
    left: 240px;
    cursor: pointer;
    transition: 0.5s;
}
.section5 button:hover{
    background-color: rgb(43, 43, 206);
    color: rgb(231, 231, 231);
}
.footer{
    height: 50px;
    width: 100%;
    background-color: black;
    margin-top: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


